{
  "components": {
    "schemas": {
      "InvalidError": {
        "properties": {
          "error": {
            "type": "string"
          },
          "valids": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "type": "object"
      },
      "Chains": {
        "type": "string",
        "enum": [
          "ethereum",
          "avalanche",
          "bsc",
          "polygon",
          "arbitrum",
          "fantom",
          "harmony",
          "boba",
          "optimism",
          "moonriver"
        ]
      },
      "MetapoolChains": {
        "type": "string",
        "enum": ["avalanche", "bsc", "polygon", "arbitrum", "fantom"]
      },
      "TreasuryResponse": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "amount": {
              "type": "number",
              "format": "float"
            },
            "symbol": {
              "type": "string"
            },
            "usd": {
              "type": "number",
              "format": "float"
            }
          }
        },
        "example": {
          "0x1f1e7c893855525b303f99bdf5c3c05be09ca251": {
            "amount": 11976.962548325106,
            "symbol": "SYN",
            "usd": 43476.374050420134
          },
          "0xcfc37a6ab183dd4aed08c204d1c2773c0b1bdf46": {
            "amount": 4395.289912532142,
            "symbol": "nUSD",
            "usd": 4395.289912532142
          }
        }
      },
      "MetapoolVolumeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "float"
            }
          },
          "stats": {
            "type": "object",
            "properties": {
              "volume": {
                "type": "number",
                "format": "float"
              }
            }
          }
        }
      },
      "VolumeResponseIN": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "price_usd": {
              "type": "number",
              "format": "float"
            },
            "volume": {
              "type": "number",
              "format": "float"
            },
            "tx_count": {
              "type": "number"
            }
          }
        }
      },
      "VolumeResponseOUT": {
        "type": "object",
        "properties": {
          "price_usd": {
            "type": "number",
            "format": "float"
          },
          "volume": {
            "type": "number",
            "format": "float"
          },
          "tx_count": {
            "type": "number"
          }
        }
      },
      "VolumeResponseStats": {
        "type": "object",
        "properties": {
          "usd": {
            "type": "object",
            "properties": {
              "adjusted": {
                "type": "number",
                "format": "float"
              },
              "current": {
                "type": "number",
                "format": "float"
              }
            }
          },
          "volume": {
            "type": "object",
            "additionalProperties": {
              "type": "number",
              "format": "float"
            }
          }
        }
      },
      "VolumeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "anyOf": [
              {
                "$ref": "#/components/schemas/VolumeResponseIN"
              },
              {
                "$ref": "#/components/schemas/VolumeResponseOUT"
              }
            ]
          },
          "stats": {
            "$ref": "#/components/schemas/VolumeResponseStats"
          }
        },
        "example": {
          "data": {
            "2021-10-25": {
              "0xaa88c603d142c371ea0eac8756123c5805edee03": {
                "usd": 1355.478528122246,
                "volume": 123446.9082698944
              },
              "total": {
                "usd": 1355.478528122246
              }
            },
            "2021-10-26": {
              "0xaa88c603d142c371ea0eac8756123c5805edee03": {
                "usd": 1055.4443547315896,
                "volume": 100420
              },
              "total": {
                "usd": 1055.4443547315896
              }
            },
            "2021-10-27": {
              "0xaa88c603d142c371ea0eac8756123c5805edee03": {
                "usd": 757281.1329737306,
                "volume": 75000000
              },
              "total": {
                "usd": 757281.1329737306
              }
            },
            "2021-10-28": {
              "0xaa88c603d142c371ea0eac8756123c5805edee03": {
                "usd": 265722.62781034486,
                "volume": 15805181.048415447
              },
              "total": {
                "usd": 265722.62781034486
              }
            },
            "2021-10-29": {
              "0xaa88c603d142c371ea0eac8756123c5805edee03": {
                "usd": 626228.3000757314,
                "volume": 19759417.301290344
              },
              "total": {
                "usd": 626228.3000757314
              }
            },
            "2021-10-30": {
              "0xaa88c603d142c371ea0eac8756123c5805edee03": {
                "usd": 368915.2027302926,
                "volume": 12501172.662217114
              },
              "total": {
                "usd": 368915.2027302926
              }
            }
          },
          "stats": {
            "usd": {
              "adjusted": 2020558.186472953,
              "current": 3624643.8468636745
            },
            "volume": {
              "0xaa88c603d142c371ea0eac8756123c5805edee03": 123289637.9201928
            }
          }
        }
      }
    }
  },
  "info": {
    "title": "SYN Tracker",
    "version": "1.0.0",
    "description": "An API to track useful things about SYN. Still a WIP. View the repo [here](https://github.com/blazewashere/syn-tracker-api)",
    "contact": {
      "email": "blaze@dorime.org"
    },
    "license": {
      "name": "Boost Software License 1.0",
      "url": " https://www.boost.org/LICENSE_1_0.txt"
    }
  },
  "openapi": "3.0.3",
  "servers": [
    { "url": "https://synapse.dorime.org", "description": "production" },
    { "url": "http://localhost:1337", "description": "development" }
  ],
  "paths": {
    "/api/v1/analytics/fees/admin/{chain}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chains"
            }
          },
          {
            "in": "query",
            "name": "block",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "can be negative to indicate a block backwards since the latest block."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "example": {
                    "0x6B175474E89094C44Da98b954EedeAC495271d0F": 5.037710710295178e21,
                    "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48": 14505109603,
                    "0xdAC17F958D2ee523a2206206994597C13D831ec7": 8510981976
                  }
                }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "summary": "admin fees on a chain",
        "tags": ["Admin Fees"]
      }
    },
    "/api/v1/analytics/fees/admin/{chain}/pending": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ethereum", "avalanche", "bsc", "polygon"]
            }
          },
          {
            "in": "query",
            "name": "block",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "can be negative to indicate a block backwards since the latest block."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "example": {
                    "0x6B175474E89094C44Da98b954EedeAC495271d0F": 5.037710710295178e21,
                    "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48": 14505109603,
                    "0xdAC17F958D2ee523a2206206994597C13D831ec7": 8510981976
                  }
                }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "summary": "pending admin fees on a chain",
        "tags": ["Admin Fees"]
      }
    },
    "/api/v1/analytics/volume/metapool/{chain}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MetapoolChains"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetapoolVolumeResponse"
                }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "summary": "volume of nUSD on a chain metapool",
        "tags": ["Metapool Volume"]
      }
    },
    "/api/v1/analytics/volume/{chain}/filter/{token}/{direction}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chains"
            }
          },
          {
            "in": "path",
            "name": "token",
            "required": true,
            "description": "some chains support more tokens such as neth, synfrax, dog, high, etc.",
            "schema": {
              "type": "string",
              "enum": ["nusd", "syn"]
            }
          },
          {
            "in": "path",
            "name": "direction",
            "required": true,
            "description": "count the asset going IN or OUT of the chain",
            "schema": {
              "type": "string",
              "enum": ["in", "out"]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VolumeResponse" }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "summary": "volume of a token on a bridge going in a direction",
        "tags": ["Bridge Volume"]
      }
    },
    "/api/v1/analytics/volume/{chain}/{direction}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chains"
            }
          },
          {
            "in": "path",
            "name": "direction",
            "required": true,
            "description": "count the asset going IN or OUT of the chain",
            "schema": {
              "type": "string",
              "enum": ["in", "out"]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VolumeResponse"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "usd": {
                          "type": "object",
                          "properties": {
                            "adjusted": {
                              "type": "number",
                              "format": "float"
                            },
                            "current": {
                              "type": "number",
                              "format": "float"
                            }
                          }
                        },
                        "volume": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "number",
                              "format": "float"
                            },
                            "properties": {
                              "token": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "summary": "volume of all tokens on a bridge going in a direction",
        "tags": ["Bridge Volume"]
      }
    },
    "/api/v1/analytics/fees/bridge/{chain}/{token}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chains"
            }
          },
          {
            "in": "path",
            "name": "token",
            "required": true,
            "description": "some chains support more tokens such as neth, synfrax, dog, high, etc.",
            "schema": {
              "type": "string",
              "enum": ["nusd", "syn"]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "price_usd": {
                            "type": "number",
                            "format": "float"
                          },
                          "fees": {
                            "type": "number",
                            "format": "float"
                          },
                          "tx_count": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "stats": {
                      "$ref": "#/components/schemas/VolumeResponseStats"
                    }
                  }
                }
              }
            },
            "description": "Successful response"
          }
        },
        "summary": "bridge fees paid for a token on a chain",
        "tags": ["Bridge Fees"]
      }
    },
    "/api/v1/analytics/fees/validator/{chain}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chains"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "gas_price": {
                        "type": "number",
                        "format": "float"
                      },
                      "price_usd": {
                        "type": "number",
                        "format": "float"
                      },
                      "tx_count": {
                        "type": "number"
                      },
                      "transaction_fee": {
                        "type": "number",
                        "format": "float"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful response"
          }
        },
        "summary": "validator gas fees paid on a chain",
        "tags": ["Validator Gas Fees"]
      }
    },
    "/api/v1/circ/": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supply": { "type": "number", "format": "float" }
                  },
                  "example": {
                    "supply": 161369615.5922159
                  }
                }
              }
            },
            "description": "Successful response"
          }
        },
        "summary": "circulatory supply for all chains",
        "tags": ["Circulatory Supply"]
      }
    },
    "/api/v1/circ/{chain}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chains"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supply": { "type": "number", "format": "float" }
                  },
                  "example": {
                    "supply": 80381211.2436923
                  }
                }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "summary": "circulatory supply on a chain",
        "tags": ["Circulatory Supply"]
      }
    },
    "/api/v1/mcap/": {
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "market_cap": { "type": "number", "format": "float" }
                  },
                  "example": {
                    "market_cap": 490563631.4
                  }
                }
              }
            },
            "description": "Successful response"
          }
        },
        "summary": "market cap of SYN on all chains",
        "tags": ["Market Cap"]
      }
    },
    "/api/v1/mcap/{chain}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chains"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "market_cap": { "type": "number", "format": "float" }
                  },
                  "example": {
                    "market_cap": 244358882.18
                  }
                }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "summary": "market cap of SYN on a chain",
        "tags": ["Market Cap"]
      }
    },
    "/api/v1/analytics/treasury/{chain}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["eth", "bsc", "polygon", "avalanche"]
            }
          },
          {
            "in": "query",
            "name": "block",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TreasuryResponse"
                }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvalidError"
                }
              }
            },
            "description": "Not found"
          }
        },
        "summary": "view treasury balance on a chain",
        "tags": ["Treasury Balance"]
      }
    },
    "/api/v1/analytics/pools/price/virtual": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "number",
                      "format": "float"
                    }
                  },
                  "example": {
                    "arbitrum": {
                      "neth": 1.0024016963118136,
                      "nusd": 1.0007232850597254
                    },
                    "avalanche": {
                      "nusd": 1.000687521718383
                    },
                    "boba": {
                      "neth": 1.000661770020243,
                      "nusd": 1.0013625523269205
                    },
                    "bsc": {
                      "nusd": 1.0010311457156893
                    },
                    "ethereum": {
                      "nusd": 1.0012024894041562
                    },
                    "fantom": {
                      "nusd": 1.0007057177482686
                    },
                    "harmony": {
                      "nusd": 1.0011017801869486
                    },
                    "optimism": {
                      "neth": 1.0004906234797655
                    },
                    "polygon": {
                      "nusd": 1.0003717551698186
                    }
                  }
                }
              }
            },
            "description": "Successful response"
          }
        },
        "summary": "view virtual price for all chains of a pool",
        "tags": ["Pools"]
      }
    },
    "/api/v1/analytics/pools/price/virtual/{chain}": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "chain",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Chains"
            }
          },
          {
            "in": "query",
            "name": "block",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": "can be negative to indicate a block backwards since the latest block."
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "number",
                    "format": "float"
                  },
                  "example": {
                    "neth": 1.0006612407063795,
                    "nusd": 1.0013568399877644
                  }
                }
              }
            },
            "description": "Successful response"
          }
        },
        "summary": "view virtual price for a chain of a pool",
        "tags": ["Pools"]
      }
    }
  }
}
